* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu,
section {
  display: block;
}
html {
  height: 100%;
}

body {
  line-height: 1;
  height: 100vh;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

.menu-container {
  display: flex;
  height: 100vh;
  visibility: hidden;
  flex-direction: column;
  // align-content: center,
  justify-content: center;
  align-items: center;
  gap: 4rem;
  font-size: 4rem;
  font-weight: bold;
  &.active {
    visibility: visible;
  }
  .title {
    font-size: 6rem;
    background: linear-gradient(90deg, #007698 20%, rgb(250, 98, 98) 100%, #007698 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: textShine 8s ease-in-out infinite;
    background-size: 125%;
    background-position: -100%;
  }
  
}
.start-btn {
  // background: none;
  color: #18272F;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  &::before {
    content: '';
    background-color: hsla(196, 61%, 58%, .75);
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 8px;
    z-index: -1;
    transition: all .3s ease-in-out;
  }
  &:hover::before {
    bottom: 0;
    height: 100%;
  }
  
}

@keyframes textShine {
  to {
    background-position: 100%;
  }
}