* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
  height: 100vh;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

.wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  visibility: hidden;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
  font-size: 4rem;
  font-weight: bold;
}

.menu-container.active {
  visibility: visible;
}

.menu-container .title {
  font-size: 6rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #007698), color-stop(100%, #fa6262), color-stop(20%, #007698));
  background: linear-gradient(90deg, #007698 20%, #fa6262 100%, #007698 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: textShine 8s ease-in-out infinite;
          animation: textShine 8s ease-in-out infinite;
  background-size: 125%;
  background-position: -100%;
}

.start-btn {
  color: #18272F;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.start-btn::before {
  content: '';
  background-color: rgba(83, 178, 213, 0.75);
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.start-btn:hover::before {
  bottom: 0;
  height: 100%;
}

@-webkit-keyframes textShine {
  to {
    background-position: 100%;
  }
}

@keyframes textShine {
  to {
    background-position: 100%;
  }
}

.main {
  height: 100%;
  position: absolute;
  height: 100%;
  width: 100%;
  visibility: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main.active {
  visibility: visible;
}

.main .board {
  width: 55%;
  height: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: (1fr)[11];
      grid-template-rows: repeat(11, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .board h1 {
  font-size: 3rem;
  font-weight: bold;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1 / 11;
}

.main .board > div {
  border: 2px solid;
  margin: 0 -1px -1px 0;
}
/*# sourceMappingURL=styles.css.map */