* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu,
section {
  display: block;
}
html {
  height: 100%;
}

body {
  line-height: 1;
  height: 100vh;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

.wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
}
.menu-container {
  display: flex;
  height: 100%;
  width: 100%;
  visibility: hidden;
  position: absolute;
  flex-direction: column;
  // align-content: center,
  justify-content: center;
  align-items: center;
  gap: 4rem;
  font-size: 4rem;
  font-weight: bold;
  &.active {
    visibility: visible;
  }
  .title {
    font-size: 6rem;
    background: linear-gradient(90deg, #007698 20%, rgb(250, 98, 98) 100%, #007698 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: textShine 8s ease-in-out infinite;
    background-size: 125%;
    background-position: -100%;
  }
  
}
.start-btn {
  // background: none;
  color: #18272F;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  &::before {
    content: '';
    background-color: hsla(196, 61%, 58%, .75);
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 8px;
    z-index: -1;
    transition: all .3s ease-in-out;
  }
  &:hover::before {
    bottom: 0;
    height: 100%;
  }
  
}

@keyframes textShine {
  to {
    background-position: 100%;
  }
}

.main {
  height: 100%;
  position: absolute;
  width: 100%;
  visibility: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: .2fr 1fr;
  justify-items: center;
  align-items: center;
  &.active {
    visibility: visible;
  }
  .header {
    font-size: 10rem;
    font-weight: bold;
    grid-column: 1/3;
    align-self: end;
  }
  .board {
    width: 55%;
    height: 75%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(11, 1fr);
    // justify-items: center;
    // align-items: center;
    h1 {
      font-size: 3rem;
      font-weight: bold;
      grid-column: 1 / 11 ;
      text-align: center;
    }
    
    & > div  {
      border: 2px solid white;
      margin: 0 -1px -1px 0;
      background-color: #5ed8d4;
    }
    div[data-is-Shot=true][data-has-Ship=true] {
      background-color: rgba(236, 34, 34, 0.945);
    }
    div[data-is-Shot=true][data-has-Ship=false] {
      background-color: #357c7a;
    }
  }
  .player {
    & div[data-hasShip=true] {
      background-color: rgb(148, 141, 141);
    }
  }
  .opponent {
    &.active {
      & > div {
        pointer-events: none;
      }
      
    }
  }
}

.gameoverCon {
  visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 7rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  &.active {
    visibility: visible; 
  }
  
}

.notification {
  display: flex;
  height: 100%;
  width: 100%;
  font-size: 7rem;
  position: absolute;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  visibility: hidden;
  .message{
    font-size: 5rem;
  }
}